<%= form_for [@post, @comment] do |f| %>
<p>
<%= f.label :content %><br>
<%= f.text_field :content %>
</p>
<p>
<%= f.label :author_email %><br>
<%= f.text_field :author_email %>
</p>
<%= f.submit %>
<% end %>