
#contact_links
  %span.contact_link
    = image_tag 'email_icon.png', id: 'email_icon'
    %span#email_text
      = link_to 'nbarnes@gmail.com', 'mailto:nbarnes@gmail.com'
  %br
  %span.contact_link
    = image_tag 'Twitter_logo_blue.png', id: 'twitter_icon'
    %span#twitter_text
      = link_to '@foxbarnes', 'https://twitter.com/FoxBarnes'
  %br
  %span.contact_link
    = image_tag 'InBug-60px-TM.png', id: 'linkedin_icon'
    %span#linkedin_text
      = link_to 'linkedin/nbarnes2', 'https://www.linkedin.com/in/nbarnes2'
  %br
  %span.contact_link
    = image_tag 'GitHub-Mark-120px-plus.png', id: 'github_icon'
    %span#github_text
      = link_to 'github/nbarnes', 'https://github.com/nbarnes/Portfolio'
