
#header_pane

  #flash_display
    - flash.each do |key, value|
      %div{:class => '<%=flash_class(key) %>'}
      = value
  %br

  #portrait_and_name_pane.clearfix
    #header_portrait
      = link_to root_url do
        = image_tag 'nath1_cropped.jpg', id: 'header_portrait_image'

    #header_text
      = link_to 'Nathaniel Barnes', root_url, :id => "site_owner_name"
      %br
      = link_to 'Elegant software design for a more civilized age', root_url, :id => "tagline"

  #contact_links
    %span.contact_link
      = image_tag 'email_icon.png', id: 'email_icon'
      %span#email_text
        nbarnes@gmail.com
    %span.contact_link
      = image_tag 'Twitter_logo_blue.png', id: 'twitter_icon'
      %span#twitter_text
        @foxbarnes
    %br
    %span.contact_link
      = image_tag 'InBug-60px-TM.png', id: 'linkedin_icon'
      %span#linkedin_text
        = link_to 'linkedin/nbarnes2', 'https://www.linkedin.com/in/nbarnes2'
    %span.contact_link
      = image_tag 'GitHub-Mark-120px-plus.png', id: 'github_icon'
      %span#github_text
        = link_to 'github/nbarnes', 'https://github.com/nbarnes/Portfolio'

