<p id="post_title-<%= dom_id(post) %>">
  <b>Post Title:</b>
  <%= post.title %>
</p>
<br />
<p id="post_content-<%= dom_id(post) %>">
  <b>Post Content:</b>
  <%= post.content %>
</p>

<p id="post_author-<%= dom_id(post) %>">
  <b>Post By:</b>
  <%= post.author.email %>
</p>

<br />