<style>
  p {width:600px}
</style>

<div id="post_title-<%= dom_id(post) %>">
  <h4><%= post.title %></h4>
</div>

<div id="post_content-<%= dom_id(post) %>" >
  <p><%= markdown post.content %>
</div>

<p id="post_author-<%= dom_id(post) %>">
  <b>Post By:</b>
  <%= post.author.email %>
</p>

<br />