

<div class="project" id="<%= dom_id(project) %>">

  <h4><%= link_to project.title, project, :class => "entry_title" %></h4>

  <div>
  <%= link_to "Comments", project_path(project, anchor: 'disqus_thread'), :class => "entry_comments_link" %>
  </div>

  <table class='project_display_table'>
    <tr>
      <td class='project_description'>
        <%= markdown project.content %>
      </td>
      <td>
        <div class='project_image'>
          <%= image_tag project.image, size: '420x360', class: 'project_image' %>
        </div>
      </td>
    </tr>
  </table>
</div>