= extends :tab_layout do
  = replace :tabs do
    %li#welcome_tab.tab
      Welcome
    %li#projects_tab.tab{:data => {:url => "#{request.env['ORIGINAL_FULLPATH']}"}}
      Projects
    %li#blog_tab.tab
      Blog
    %li#about_me_tab.tab
      About

  = replace :content do

    #welcome_content.tabbed_content
      = render "front_page/welcome_content"

    #projects_content.tabbed_content
      = render "projects/project_display", project: @project

    #blog_content.tabbed_content
      - @posts.each do |post|
        = render "posts/post_display", post: post
        %br

    #about_me_content.tabbed_content
      = render "front_page/about_me"