
#tab_pane
  #tabs
    %ul.tab_row
      %li#login_tab.tab.selected
        Log In

  #tabbed_content_pane

    #login_content.tabbed_content.selected
      #log_in_label.title
        Sign in

      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

        #login_pane

          .login_widget
            = f.label :email
            .login_field
              = f.email_field :email, :autofocus => true
          %span.buggable_br_thing
            %br

          .login_widget
            = f.label :password
            .login_field
              = f.password_field :password
          %span.buggable_br_thing
            %br

        - if devise_mapping.rememberable?
          = f.check_box :remember_me
          = f.label :remember_me
        %br

        = f.submit "Sign in", :class => 'sign_in_button'

      %input{:type => 'button', :value => 'trigger_br_bug_button', :id => 'trigger_br_bug_button'}

      // = render "devise/shared/links"