<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Author</th>
    <th>Date Posted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr id="<%= dom_id(post) %>">
    <td><%= truncate(post.title, length: 20, separator: ' ') %></td>
    <td><%= truncate(post.content, length: 40, separator: ' ') %></td>
    <td><%= post.author.email %></td>
    <td><%= post.created_at.to_date %></td>
    <td><%= " - " %><%= link_to 'Show', post %></td>
    <td><%= " - " %><%= link_to 'Edit', edit_post_path(post) %></td>

    <td>
      <%= " - " %>
      <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>

    <% if post.published? %>
      <td>
    <%= " - " %><%= link_to 'Unpublish', toggle_published_post_path(post), {method: :put} %></td>
    <% else %>
      <td>
    <%= " - " %><%= link_to 'Publish', toggle_published_post_path(post), {method: :put} %></td>
    <% end %>

  </tr>
<% end %>

</table>

<br />

<%= link_to 'New Post', new_post_path %>
