= extends :tab_layout do

  = replace :tabs do

    %li#welcome_tab.tab
      %span.tab_label
        Welcome
    %li#projects_tab.tab
      %span.tab_label
        Projects
    %li#blog_tab.tab{:data => {:url => "#{request.env['ORIGINAL_FULLPATH']}"}}
      %span.tab_label
        Blog
    %li#about_me_tab.tab
      %span.tab_label
        About

  = replace :content do

    #welcome_content.tabbed_content
      = render "front_page/welcome_content"

    #projects_content.tabbed_content
      - @projects.each do |project|
        = render "projects/project_display", project: project
        %br

    #blog_content.tabbed_content
      = link_to '<- Return to blog index', posts_path
      = render "posts/post_display", post: @post

    #about_me_content.tabbed_content
      = render "front_page/about_me"