<p id="notice"><%= notice %></p>

<%= render "shared/post_display" %>

<% @post.comments.each do |comment| %>

  <div id="<%= dom_id(comment) %>">
    <b>Comment:</b>
    <%= comment.content %><br />&nbsp&nbsp&nbsp&nbsp
    <%= " - #{ comment.author_email }" %>
    <% if policy(comment).destroy? %>
      <%= " - " %>
      <%= link_to 'Delete Comment', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br /><br />
  </div>
<% end %>

<%= link_to 'Submit new comment', new_post_comment_path(@post) %>
<br />
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
