
#header_pane

  #login_and_flash
    - if current_user
      You are logged in as
      = current_user.email
      = " - "
      = link_to('Log out', destroy_user_session_path, :method => :delete)
      = " - "
      = link_to('Posts Admin', admin_posts_path)
      = " - "
      = link_to('Projects Admin', admin_projects_path)


    #flash_display
      - flash.each do |key, value|
        %div{:class => '<%=flash_class(key) %>'}
        = value
  %br
  %br

  #header_contact_links
    = render ('layouts/contact_links')

  #portrait_and_name_pane.clearfix.title
    #header_portrait
      = link_to root_url do
        = image_tag 'nath1.jpg', id: 'header_portrait_image'

    #header_text
      = link_to 'A Lightsaber Mind', root_url, id: "site_name"
      %br
      = link_to 'Elegant software design for a more civilized age', root_url, id: "tagline"
